{% extends 'base.html.twig' %}

{% block body %}
    {% set first_name_sort = app.request.query.get('first_name_sort') %}

    <div class="container">
        <form method="get" action="{{ path('frontend.users_list') }}">
            <div class="row">
                <div class="col">
                    <label>First name</label>
                    <input name="first_name" class="form-control" placeholder="First name" value="{{ app.request.query.get('first_name') }}">
                </div>
                <div class="col">
                    <label>Last name</label>
                    <input name="last_name" class="form-control" placeholder="Last name" value="{{ app.request.query.get('last_name') }}">
                </div>
                <div class="col">
                    <label>Sort first name by</label>
                    <select name="first_name_sort" class="custom-select">
                        <option selected></option>
                        <option value="ASC" {% if first_name_sort == "ASC" %}selected{% endif %}>ASC</option>
                        <option value="DESC" {% if first_name_sort == "DESC" %}selected{% endif %}>DESC</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <div class="spacer"></div>

        <table class="table table-sm">
            <thead>
                <tr class="table-active">
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination %}
                    <tr class="table-primary">
                        <th>{{ user.firstName }}</th>
                        <th>{{ user.lastName }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}